doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        block title
            title My Title

        link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap-theme.css')
        link(rel='stylesheet' href='/css/style.css')
        block stylesheet
            //-
        block headScripts
            //-
    body
        include main-nav.pug

        section(class='container body-content' role='main')
            header
                block header
                    //-
            block content
                //-
            hr
            footer
                block footer
                    include footer.pug

        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
        block scripts
            //-