extends ../shared/layout.pug

block title
    title Ace Editor

block header
    h1 Ace Editor
    p Install in the <kbd>~/modules</kbd> with command <kbd>git clone git://github.com/ajaxorg/ace.git</kbd>

block content
    div(style="width: 500px;height: 400px;")#editor some text

block scripts
    script(src="/js/ace.min.js")
    script(src="/js/ace-config.min.js")