extends ../shared/layout.pug

block title
    title Monaco Editor

block header
    h1 Monaco Editor

block content
    div(style="width:800px;height:200px;border:1px solid grey")#editor-container

block scripts
    script(src="/nm/monaco-editor/min/vs/loader.js")
    script(src="/js/monaco-config.min.js")